.fs-x-small{
    font-size: x-small;
}
.fs-small{
    font-size: small;
}
.fs-medium{
    font-size: medium;
}
.fs-normal{
    font-size: normal;
}
.fs-large{
    font-size: larger;
}
.cursor-hover{
    cursor: pointer;
}

.logout-confirmation-modal{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 2rem 3rem 2rem 3rem;
}

/* Diabling user selection in navbar */
nav{
    user-select: none;
}

/* CSS for leader-image */
.leader-image{
    border:0.2rem solid orange;
    border-radius: 50%;
    margin-right:0.8rem;
}

/* CSS for navbar dropdowns for laptop screen only */
.nav-dropdown{
    padding:0.8rem 1.2rem 0.8rem 1.2rem;
    font-size:small;
    font-weight: 500;
    transition: 0.1s ease-in-out;
}
.nav-dropdown:hover{
    padding:0.8rem 1.2rem 0.8rem 1.2rem;
    font-size:small;
    border-bottom: 0.2rem solid orange;
    font-weight: 500;
}

.nav-dropdown-active
{
    padding:0.8rem 1.2rem 0.8rem 1.2rem;
    font-size:small
    font-weight: 500;
    border-bottom: 0.2rem solid orange;
    color: orange;
}

/* CSS for nav bar dropdown subitems for laptop screen only */
.nav-dropdown-item{
    font-size: small;
    transition: 0.1s ease-in-out;
}
.nav-dropdown-item-active{
    font-size: small;
    transition: 0.1s ease-in-out;
    border-left: 0.2rem solid orange;
}
.nav-dropdown-item:hover{
    font-size: small;
    border-left: 0.2rem solid orange;
}


/* CSS for copyright branding */
.copyright-bar{
    position: fixed;
    bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.3rem;
    color: grey;
    user-select: none;
}